.headerWrapper {
  display: flex;
  height: 450px;
}

.leftPanel {
  flex: 1;
}

.leftPanel h1 {
  font-size: 4.8rem;
  line-height: 6.4rem;
}

.leftPanel p {
  margin-top: 26px;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.leftPanel button {
  margin-top: 30px;
}

button {
  border: 2px solid #e42734;
  padding: 20px 26px;
  font-size: 1.2rem;
  color: #e42734;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
}

.rightPanel {
  flex: 3.2;
  position: relative;
}

.rightPanel p {
  display: inline-block;
  font-size: 3rem;
}

.textWrapper {
  position: absolute;
  top: 230px;
  left: 400px;
  display: inline-block;
  width: 400px;
  background-color: white;
  z-index: 1000;
}

.dottedBackground {
  position: absolute;
  top: 180px;
  left: 335px;
  width: 400px;
  height: 100px;
  background-image: url('../../assets/dots-bg.png');
  z-index: -2;
}

.rightPanel span {
  letter-spacing: 2px;
  color: #e42734;
}
