.select {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 29px;
  padding: 10px 10px;
  color: #192743;
  border: 2px solid #eaedf2;
  -webkit-appearance: none;
  background: url('../assets/dd-arrow.png') 95% / auto no-repeat;
  outline: none;
  cursor: pointer;
}
