* {
  /* transition: all 0.2s; */
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
}

html {
  color: #192743;
  font-size: 10px;
}

html,
body {
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

button {
  outline: none;
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  img {
    width: auto;
    max-width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .mobileSelect {
    display: none;
  }
}
