.container {
  display: flex;
}

.container img {
  display: block;
  width: 90%;
  height: 75%;
}

.content::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -66px;
  width: 180px;
  height: calc(50% + 50px);
  background-color: #dfeffe;
  z-index: -2;
}

.sidebar {
  flex: 1;
}

.content {
  position: relative;
  flex: 3.2;
  margin-left: 25px;
}
